

p {
    font-weight: bold;
}





input[type="text"] {
  display: block;
  margin: 0;
  width: 100px;
  height: 100px;
  font-family: sans-serif;
  font-size: 18px;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus {
  outline: none;
}

td.itemName {
    font-family:verdana,arial,sans-serif;
    font-size:20px;
    font-weight: bold;
    background-color: chartreuse;
}

select {
   background: transparent;
   width: 200px;
   padding: 5px;
   font-size: 20px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;

}

input[type="button"] {
  display: block;
  margin: 0;
  width: 200px;
  height: 100px;
  font-family: sans-serif;
  font-size: 18px;
  box-shadow: none;
  border-radius: 0;
}
td {
    text-align: left;
    margin: 0;
}

table {
    left: 50%;
}

th {
    text-align: center;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    margin: 0;
    background-color: #B4F4E6;
}

tr {
    background-color: #0C8999;
    margin: 0;
}


th {
    background-color: #B4F4E6;
    margin: 0;
}
